body {
	min-width: 280px;
	background: #6fc0e3;
}

h1 {
	border-bottom: 1px solid black;
	margin-bottom: 4px;
}

#send_data_form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#submit {

}

#submit:hover {
	cursor: pointer;
}

#send_data_form input, #send_data_form select {
	width: 80%;
	height: 30px;

	margin-top: 4px;

	border: 1px solid #a2a9b1;
	border-radius: 2px;
}

#data_good_div > div {
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #56D4DB;
	padding-left: 4px;

	font-size: 14px;
}

#data_good_div > div > p {
	display: inline;
	height: 30px;
	padding-right: 4px;
	margin-left: 4px;
	background: #cbf3f5;

	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top_noti {
	margin-top: 4px;
}