body {
	min-width: 280px;
	background: #6fc0e3;
}

#header_tag {
	border-bottom: 1px solid black;
	margin-bottom: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header_tag h1 {
	margin-top: 7px;
	margin-bottom: 5px;
}

#send_data_form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#submit:hover {
	cursor: pointer;
}

#send_data_form input, #send_data_form select {
	width: 80%;
	height: 30px;
	color: black;

	margin-top: 4px;
	background: white;

	border: 1px solid #a2a9b1;
	border-radius: 2px;
}

#age_data {
	padding-left: 4px;
	width: calc(80% - 8px) !important;
}

#data_good_div > div {
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #56D4DB;
	padding-left: 4px;

	font-size: 14px;
}

#data_good_div > div > p {
	display: inline;
	height: 30px;
	padding-right: 4px;
	margin-left: 4px;
	background: #cbf3f5;

	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.top_noti {
	margin-top: 4px;
}

#change_demographics, #submit {
	height: 30px;
	width: 100%;

	border: 1px solid #160e5e;
	background: white;

	margin-bottom: 4px;
}

#change_demographics:hover, #submit:hover {
	background: #bcc5d4;
	cursor: pointer;
}

#missing_data {
	display: none;
}

#missing_data.show {
	display: block;
}

#missing_data.warn {
	animation: 0.6s warning;
}

@keyframes warning {
	from {
		background: #e37878;
	}

	to {
		background: transparent;
	}
}

.wiki_hard_data {
	width: 70% !important;
	padding-left: 4px;
	padding-right: 4px;
}

/* From Ana Tudor Free Frontend */
#close {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em; height: 2em;
	border-radius: 50%;
	background: transparent;
	color: #160e5e;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}

#close:focus {
	outline: solid 0 transparent;
	box-shadow: 0 0 0 2px #8ed0f9
}
	
#close:hover {
	background: rgba(5, 247, 212, .3)
}

#close:before, #close:after {
	position: absolute;
	top: 15%; left: calc(50% - .0625em);
	width: .125em; height: 70%;
	border-radius: .125em;
	transform: rotate(45deg);
	background: currentcolor;
	content: ''
}
	
#close:after { transform: rotate(-45deg); }