.user_decision_tag {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 7;
	border-radius: 3px;
	background: #6fc0e3;
}

.user_decision_tag h2 {
	font-size: 20px;
	font-weight: 2px;
	width: 98%;
}

.user_decision_tag div {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user_decision_tag .user_decision_button {
	width: 18%;
	height: 40px;
	background: white;
	border: 1px solid #160e5e;
	font-size: 30px;

	transition: background 0.2s;
}

.user_decision_tag .user_decision_button[level="1"]:hover {
	cursor: pointer;
	background: #E02B37;
}

.user_decision_tag .user_decision_button[level="2"]:hover {
	cursor: pointer;
	background: #DB7835;
}

.user_decision_tag .user_decision_button[level="3"]:hover {
	cursor: pointer;
	background: #DBCD3F;
}

.user_decision_tag .user_decision_button[level="4"]:hover {
	cursor: pointer;
	background: #56D4DB;
}

.user_decision_tag .user_decision_button[level="5"]:hover {
	cursor: pointer;
	background: #4BDB6E;
}

#wiki-page-suggestor {
	width: 100%;
	height: 90px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: #6fc0e3;
	z-index: 1;
}

#wiki-page-surfer-p {
	z-index: 1;
}

#page-suggestor-surfer {
	display: inline;
	transform: rotateY(180deg) scale(0.15);

	margin: -190px -300px -190px -280px;
	z-index: 1;
}

#page-suggestor-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center-content, .submit-feedback, .container {
  display: grid;
  place-content: center;
}

#page-suggestor-send-container {
	width: 140px;
	height: 60px;
	position: relative;
	bottom: 1.5px;
	right: 1.5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#page-suggestor-surfer.moving {
	animation: move_me_right 3.5s linear infinite;
}

#page-suggestor-send-container.moving {
	animation: move_me_left 3.5s linear infinite;
}

@keyframes move_me_right {
	from {
		margin-left: -380px;
		opacity: 1;
	}

	75% {
		margin-left: -150px;
		opacity: 0.9;
	}

	to {
		margin-left: -100px;
		opacity: 0;
	}
}

@keyframes move_me_left {
	from {
		margin-left: 100px;
	}

	75% {
		margin-left: -130px;
	}

	to {
		margin-left: -180px;
	}
}

.shells.left {
	transform: rotate(-30deg) scale(0.75);

	animation-name: bounce;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.shells.mid {
	transform: scale(0.85);

	animation-name: bounce;
	animation-duration: 1.5s;
	animation-delay: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.shells.right {
	transform: rotate(30deg) scale(0.75);

	animation-name: bounce;
	animation-duration: 1.5s;
	animation-delay: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	from {
		margin-top: 0px;
	}

	50% {
		margin-top: -20px;
	}

	to {
		margin-top: 0px;	
	}
}

.submit-feedback {
	width: 100px;
	height: 20px;

	display: inline;
	margin-right: -20px;

	text-align: center;

	padding: 20px;
	cursor: pointer;
	border-radius: 7px;
	border-bottom-left-radius: 0;
	background-color: #a3d9f0;
	transition: all 0.3s;
}

.submit-feedback.flow {
	padding: 18px;
	border-radius: 0px;
	border: 2px solid #a3d9f0;

	background-color: transparent;
}

#wiki-page-suggestor.flow {
	background-color: #6fc0e3;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ebf4f7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	animation: animatedBackground 5s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

/*#page-suggestor-clicker {

}

#page-suggestor-clicker:hover {
	cursor: pointer;
}*/