.user_decision_tag {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 7;
	border-radius: 3px;
	background: #6fc0e3;
}

.user_decision_tag h2 {
	font-size: 20px;
	font-weight: 2px;
	width: 98%;
}

.user_decision_tag div {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user_decision_tag .user_decision_button {
	width: 18%;
	height: 40px;
	background: white;
	border: 1px solid #160e5e;
	font-size: 30px;

	transition: background 0.2s;
}

.user_decision_tag .user_decision_button[level="1"]:hover {
	cursor: pointer;
	background: #E02B37;
}

.user_decision_tag .user_decision_button[level="2"]:hover {
	cursor: pointer;
	background: #DB7835;
}

.user_decision_tag .user_decision_button[level="3"]:hover {
	cursor: pointer;
	background: #DBCD3F;
}

.user_decision_tag .user_decision_button[level="4"]:hover {
	cursor: pointer;
	background: #56D4DB;
}

.user_decision_tag .user_decision_button[level="5"]:hover {
	cursor: pointer;
	background: #4BDB6E;
}

#wiki-page-suggestor {
	width: 100%;
	height: 90px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: #6fc0e3;
	z-index: 1;
}

#wiki-page-surfer-p {
	z-index: 1;
}

#page-suggestor-surfer {
	display: inline;
	transform: rotateY(180deg) scale(0.15);

	margin: -190px -300px -190px -280px;
	z-index: 1;
}

#page-suggestor-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center-content, .submit-feedback, .container {
  display: grid;
  place-content: center;
}

#page-suggestor-send-container {
	width: 140px;
	height: 60px;
	position: relative;
	bottom: 1.5px;
	right: 1.5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#page-suggestor-surfer.moving {
	animation: move_me_right 3.5s linear infinite;
}

#page-suggestor-send-container.moving {
	animation: move_me_left 3.5s linear infinite;
}

@keyframes move_me_right {
	from {
		margin-left: -380px;
		opacity: 1;
	}

	75% {
		margin-left: -150px;
		opacity: 0.9;
	}

	to {
		margin-left: -100px;
		opacity: 0;
	}
}

@keyframes move_me_left {
	from {
		margin-left: 100px;
	}

	75% {
		margin-left: -130px;
	}

	to {
		margin-left: -180px;
	}
}

.shells.left {
	transform: rotate(-30deg) scale(0.75);

	animation-name: bounce;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.shells.mid {
	transform: scale(0.85);

	animation-name: bounce;
	animation-duration: 1.5s;
	animation-delay: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.shells.right {
	transform: rotate(30deg) scale(0.75);

	animation-name: bounce;
	animation-duration: 1.5s;
	animation-delay: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes bounce {
	from {
		margin-top: 0px;
	}

	50% {
		margin-top: -20px;
	}

	to {
		margin-top: 0px;	
	}
}

.submit-feedback {
	width: 100px;
	height: 20px;

	display: inline;
	margin-right: -20px;

	text-align: center;

	padding: 20px;
	cursor: pointer;
	border-radius: 7px;
	border-bottom-left-radius: 0;
	background-color: #a3d9f0;
	transition: all 0.3s;
}

.submit-feedback.flow {
	padding: 18px;
	border-radius: 0px;
	border: 2px solid #a3d9f0;

	background-color: transparent;
}

#wiki-page-suggestor.flow {
	background-color: #6fc0e3;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ebf4f7' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

	animation: animatedBackground 5s linear infinite;
}

@keyframes animatedBackground {
  from {
	background-position: 0 0;
  }
  to {
	background-position: 100% 0;
  }
}

#suggestor-taking-awhile-container {
  z-index: -2;
  width: 160px;
  margin-left: -160px;
  text-align: center;

  background: #DB7835;
  padding-top: 3px;
  padding-bottom: 3px;
  
  transition: margin-left 0.2s ease-in;
}

#suggestor-taking-awhile-container.display {
  margin-left: 0px;
}

#wiki-page-surfer-question {
	width: 15px;
	height: 15px;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: scale(0.45);
	margin-right: -5px;
	margin-bottom: 10px;

	display: inline;
	border-radius: 100%;
	border: none;

	background: #DB7835;

	transition: transform 0.3s ease-in-out;
}

#wiki-page-surfer-question p {
	margin: 0;

	text-align: center;
}

#wiki-page-surfer-question:hover {
	transform: scale(0.55);
	cursor: pointer;
}

.wiki-popup-box {
	position: absolute;
	width: 160px;
	height: 150px;

	background: #e15915;
	opacity: 0;
}

.wiki-popup-box:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -32px;
    width: 0;
    height: 0;
    border-top: solid 15px #e15915;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

#surfer-question-popup {
	margin-top: -200px;
	margin-left: -320px;

	transform: scale(1.4);
}

#wiki-page-surfer-question:hover #surfer-question-popup {
	opacity: 0.9;

	margin-left: -50px;
}

#surfer-question-popup:hover {
	opacity: 0 !important;
}

#surfer-question-popup:hover:visible {
	opacity: 0.9 !important;
}

#surfer-question-popup p {
	font-size: 12px;
	padding: 2px;
}

#suggestor-taking-awhile-why {
	border: none;
	border: 1px solid black;
	border-radius: 2px;

	background: #faa266;
}

#suggestor-taking-awhile-why:hover {
	cursor: pointer;
}

#suggestor-taking-awhile-container a {
	width: 0px !important;
	height: 0px !important;

	display: inline !important;
}

.vector-menu-content-list {
	flex-direction: column !important;
}

#wiki-recommender-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#arrow-pointer {
	width: 20px;
	height: auto;

	transform: rotate(180deg);

	transition: 0.2s transform ease-in-out;
}

#arrow-pointer.open {
	transform: rotate(0deg);
}

#open-wiki-recommender {
	border: none;
	background: none;

	display: inline;
}

#open-wiki-recommender:hover {
	cursor: pointer;
}

@keyframes bounce_slow {
	from {
		margin-top: 0px;
	}

	50% {
		margin-top: -14px;
	}

	to {
		margin-top: 0px;	
	}
}

#open-wiki-recommender:hover #arrow-pointer {
	animation-name: bounce_slow;
	animation-duration: 1.2s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

#wiki-recommender {
	position: sticky;
	bottom: 0px;
	left: 0px;

	width: 160px;
	height: 20px;
	overflow-y: scroll;
	background: white;

	border-top-left-radius: 5px;

	z-index: 8;
}

#wiki-recommender.open {
	height: 45% !important;
}

#wiki-recommender::-webkit-scrollbar {
  width: 5px;
}

#wiki-recommender::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
#wiki-recommender::-webkit-scrollbar-thumb {
  background: #888;
  border-top-right-radius: 5px;
}

#wiki-recommender::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#recommended-id {
	display: inline;
}

.wiki-page-recommended-option {
	margin: 2px 3px 2px 3px;
	border-radius: 10px;

	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.wiki-page-recommended-option div {
	font-size: 12px;

	max-height: 70px;
	display: inline;
}

.fog {
	width: 12px;
	height: 12px;

	display: inline;
	background: linear-gradient(to left, white, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
}

.image-title-recommender {
	width: 100%;
	max-height: none !important;
	height: auto;

	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.wiki-page-recommended-option h4 {
	width: 60%;
	text-align: center;
}

.wiki-page-recommended-option img {
	width: 40%;
	height: auto;
}

.wiki-page-recommended-option:hover {
	cursor: pointer;
}


#wiki-recommender-meta-question {
	width: 15px;
	height: 15px;

	display: flex;
	justify-content: center;
	align-items: center;

	transform: scale(0.45);
	margin-left: 5px;
	margin-right: -5px;
	margin-bottom: 15px;

	display: inline;
	border-radius: 100%;
	border: none;

	background: #DB7835;

	transition: transform 0.3s ease-in-out;
}

#wiki-recommender-meta-question > p {
	margin: 0;
	margin-left: -2px;

	text-align: center;
}

#wiki-recommender-meta-question:hover {
	transform: scale(0.55);
	cursor: pointer;
}

#wiki-recommender-popup {
	width: 190px !important;
	height: 155px !important;
}

#wiki-recommender-popup:before {
    content:'';
    position: absolute;
    top: -15px !important;
    left: 50%;
    margin-left: -95px;
    width: 0;
    height: 0;
    border-bottom: solid 15px #e15915;
    border-top: none !important;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

#wiki-recommender-popup:after {
	display: none !important;
}

#wiki-recommender-popup {
	margin-top: 50px;
	margin-left: -300px;

	transform: scale(1.4);
}

#wiki-recommender-popup:hover {
	opacity: 0 !important;
	margin-left: -300px !important;
}

#wiki-recommender-meta-question:hover #wiki-recommender-popup {
	opacity: 0.9;

	margin-left: 20px;
}